main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.content button {
  background-color: #00c795;
  border: 1px solid #00c795;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50rem;
}
